//colors
$seablue: rgb(166, 166, 241);
$tangerine:rgb(245, 174, 174);
$bones:rgb(241, 236, 236);
$darknight:rgb(20, 19, 19);
//font-weight
$heavy:600;
$mid:400;
$thin:200;
//font-size
$big:40px;
$med:25px;
$small:18px;
//font family
$letters:'Be Vietnam Pro',
sans-serif;
//responsive